<div class="product">
    <div class="items">
        <div class="card" style="width: 18rem;">
            <img src="assets/shirt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tshirt</h5>
              <p class="card-text">Comfortable, casual and loose fitting, our heavyweight dark color t-shirt will quickly become one of your favorites.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/shoe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Shoes</h5>
              <p class="card-text">Unstructured fabric shoulder bag that can either be worn parallel to your body, or across it.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/handbag.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Handbags</h5>
              <p class="card-text">Made of 100% natural material and can be customized with your favorite pictures and text for the perfect gift or casual accessory.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
    <div class="items2">
        <div class="card" style="width: 18rem;">
            <img src="assets/jogging.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jogging Pants</h5>
              <p class="card-text">Made of fabric that allow for maximum comfort and ease.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/faceshield.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Faceshields</h5>
              <p class="card-text">New and improved face shields with comfortable glasses frames for adults and kids are here.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/handbag.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mugs</h5>
              <p class="card-text">Commuter mugs feature a rubber-lined lid for a tight, spill-resistant seal, twist the lid to reveal the sip opening.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
</div>